.filters-group-container {
  margin-top: 16px;
}

@media screen and (min-width: 768px) {
  .filters-group-container {
    width: 30%;
    max-width: 350px;
    margin-top: 48px;
    flex-shrink: 0;
  }
}

.filter-title {
  font-size: 20px;
  color: #12022f;
  margin-top: 30px;
  margin-bottom: 15px;
}

.category-list {
  padding: 0;
}

.category-item {
  list-style-type: none;
  color: #475569;
  cursor: pointer;
}

.category-text {
  font-size: 16px;
}

.active-category {
  color: #0967d2;
}

.rating-list {
  padding: 0;
}

.rating-item {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  cursor: pointer;
}

.rating-img {
  width: 100px;
  margin-right: 10px;
}

.rating-text {
  color: #475569;
}
